<div class="modal micromodal-slide" id="are-you" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div
      class="modal__container"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-1-title"
    >
      <div class="are__you">
        <h2 class="h2">Вы еще здесь?</h2>
        <p class="modal__text">Нажмите на экран для продолжения</p>
        <p class="gray__text">Переход в режим ожидания через: 20 секунд</p>
      </div>
    </div>
  </div>
</div>
