<div class="modal micromodal-slide" id="oil-stop" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div
      class="modal__container"
      role="dialog"
      aria-modal="true"
      aria-labelledby="modal-1-title"
    >
      <div class="oil__stop">
        <h2 class="h2">Налив завершен</h2>
        <p class="oil__text">Описание, если сможем достать</p>
        <div class="oil__info">
          <p class="black__text">Налито</p>
          <p class="black__num">10 литров</p>
          <p class="black__text">из</p>
          <p class="accent__num">40</p>
        </div>
        <p class="modal__text black">
          Если вы платили картой, то разниа будет <br />
          возвращена на карту. Если платили наличными - <br />
          будет распечатан таклон дозаправки.
        </p>
        <button class="btn btn__accent">Продолжить</button>
      </div>
    </div>
  </div>
</div>
