// Colors
$accent: #2664af;
$text: #1b1b1b;
$white: #fff;
$black: #303c42;
$gray: #a3a5a7;
$blue: #70c9f3;

$green: #32d74c;
$red: #ff2c55;

$whiteLine: #ffffff;
$grayLine: #96acb7;
$blackLine: #303c42;
$darkBlack: #010101;

// Grid
$containerWidth: 1200px;
