.keyboard {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 19;
  display: flex;
  align-items: center;
  justify-content: center;
  .h2 {
    margin-bottom: 30px;
  }
  .numbers {
    margin-bottom: 30px;
    width: 100%;
  }
}

.overflow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #303c42;
  opacity: 0.6;
  z-index: 1;
}

.keyboard__wrap {
  // width: 1120px;
  padding: 60px;
  position: relative;
  background: #ffffff;
  border-radius: 16px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard__wrap.oil-stoped {
  padding: 0;
}

.keyboard__wrap.code-used {
  padding: 0;
}
