<div class="keyboard">
  <div class="input__wrap email">
    <input
      class="input input__email"
      type="email"
      placeholder="Введите почту"
    />
  </div>
  <div class="numbers tabs__email">

          <div class="number__row">
            <div class="number keyboard">q</div>
            <div class="number keyboard">w</div>
            <div class="number keyboard">e</div>
            <div class="number keyboard">r</div>
            <div class="number keyboard">t</div>
            <div class="number keyboard">y</div>
            <div class="number keyboard">u</div>
            <div class="number keyboard">i</div>
            <div class="number keyboard">o</div>
            <div class="number keyboard">p</div>
          </div>
          <div class="number__row">
            <div class="number keyboard">a</div>
            <div class="number keyboard">s</div>
            <div class="number keyboard">d</div>
            <div class="number keyboard">f</div>
            <div class="number keyboard">g</div>
            <div class="number keyboard">h</div>
            <div class="number keyboard">j</div>
            <div class="number keyboard">k</div>
            <div class="number keyboard">l</div>
          </div>
          <div class="number__row">
            <div class="number big__key">
              <img src="./images/svg/caps.svg" alt="" />
            </div>
            <div class="number keyboard">z</div>
            <div class="number keyboard">x</div>
            <div class="number keyboard">c</div>
            <div class="number keyboard">v</div>
            <div class="number keyboard">b</div>
            <div class="number keyboard">n</div>
            <div class="number keyboard">m</div>
            <div class="number big__key">
              <img src="./images/svg/backspace.svg" alt="" />
            </div>
          </div>
        </div>
      </div>
      <div class="tabs">
        <div class="number__row">
          <div class="number keyboard">q</div>
          <div class="number keyboard">w</div>
          <div class="number keyboard">e</div>
          <div class="number keyboard">r</div>
          <div class="number keyboard">t</div>
          <div class="number keyboard">y</div>
          <div class="number keyboard">u</div>
          <div class="number keyboard">i</div>
          <div class="number keyboard">o</div>
          <div class="number keyboard">p</div>
        </div>
        <div class="number__row">
          <div class="number keyboard">a</div>
          <div class="number keyboard">s</div>
          <div class="number keyboard">d</div>
          <div class="number keyboard">f</div>
          <div class="number keyboard">g</div>
          <div class="number keyboard">h</div>
          <div class="number keyboard">j</div>
          <div class="number keyboard">k</div>
          <div class="number keyboard">l</div>
        </div>
        <div class="number__row">
          <div class="number big__key">
            <img src="./images/svg/caps.svg" alt="" />
          </div>
          <div class="number keyboard">z</div>
          <div class="number keyboard">x</div>
          <div class="number keyboard">c</div>
          <div class="number keyboard">v</div>
          <div class="number keyboard">b</div>
          <div class="number keyboard">n</div>
          <div class="number keyboard">m</div>
          <div class="number big__key">
            <img src="./images/svg/backspace.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
    <div class="number__row">
      <div class="number tabs__btn">123</div>
      <div class="number">@mail.ru</div>
      <div class="number">@gmail.com</div>
      <div class="number">@yandex.ru</div>
    </div>
  </div>
  <div class="number__row">
    <div class="number">123</div>
    <div class="number">@mail.ru</div>
    <div class="number">@gmail.com</div>
    <div class="number">@yandex.ru</div>
  </div> 
  </div>
</div>
