<div class="sleeve__status green" data-micromodal-trigger="oil-stop">
  <div class="status"></div>
  <h5 class="h5">Свободен</h5>
</div>
<div class="sleeve__status blue" data-micromodal-trigger="oil-full">
  <div class="status"></div>
  <h5 class="h5">Налив завершен</h5>
</div>
<!-- <div class="sleeve__status gray">
  <div class="status"></div>
  <h5 class="h5">Налив остановлен</h5>
</div>
<div class="sleeve__status red">
  <div class="status"></div>
  <h5 class="h5">Налив не доступен</h5>
</div> -->
